.class{
  margin: 0;
  overflow-x: hidden;
  background-color: rgb(212, 210, 208);
  height: 100vh;
}

.nav-open .nav{
  transform: translateX(0px);
}

.nav-open .main{
  transform: translateX(350px);
}

.nav{
  width: 600px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgb(65, 145, 240);
  transform: translateX(-600px);
  transition: transform 0.2s;
}

.nav-close{
  background: none;
  border: none;
  display: flex;
  align-items: center;
  margin-left: auto;
  padding: 15px 25px;
  color: #FFFF;
  cursor: pointer;
}

.info{
  text-align: center;
}

.pfp-L{
  margin-left: 25%;
}

.info-btn{
  margin-left: 520px;
}

.main{
  transition: transform 0.2s;
}

.pfp-S{
  display: inline-block;
  float: left;
  width: 100px;
  height: 100px;
}

.pfp-L{
  height: 300px;
  width: 300px;
}

.name-btn{
  display: inline-block;
  float: left;
  font-size: 10px;
  border: 0;
  background: none;
}
